.topappbar {
    padding: 8px;
    border-bottom: 1px solid black;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.topappbar > h1{
    display: inline-block;
    align-self: center;
    vertical-align: middle;
    margin-bottom: 3px !important;
}

.topappbar > button {
    margin-bottom: 3px !important;
    margin: 0 6px 3px 6px;
}
