.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 5px;
}


.product > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intitule {
  display: inline-block;
}

.price {
  font-size: 1.3em;
}

.description {
  font-size: 1.1em;
}

.allergenes {
  font-size: 1.5em;
}

.allergene {
  font-size: 0.9em;
}